:root {
    --cor-principal:rgb(76, 157, 223);
    --cor-secundaria:rgb(112, 176, 228);
    --cinza-escuro:rgb(51, 51, 51);
    --branco:rgb(230, 230, 230);
}


body {
    margin: 0;
    overflow-x: hidden;
}

textarea:focus, input:focus,button:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.navbar {
    position: absolute;
    z-index: 1;
    height: 48px;
    background-color: transparent;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
    
}

div nav {
    position: absolute;
    background-color: var(--cor-secundaria);
    max-width: 0vh;
    overflow: hidden;
    width: 40vw;
    border-radius: 20px;
    transition: max-width 0.8s;

}

.mostrar {
    max-width: 100vh;
}

#ulMenu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

nav ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

header {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(76, 157, 223);
    border-bottom: 3px solid rgb(63, 142, 206);
}

#logoGlobo {
    height: 13vh;
    width: 25vw;
}

main {
    display: flex;
    flex-direction: column;
}

.titulo {
    width: 100vw;
    height: 5vh;
    text-align: center;
    background-color: white;
    border: 0px;
    padding: 0px;
    
}

#SectionPrincipalPesquisa {
    display: flex;
    flex-direction: row;    
    padding-top: 15px;
    padding-left: 8px;
    padding-bottom: 15px;
    border-bottom:2px solid rgb(202, 202, 202);
    background-color:rgba(168, 216, 255, 0.205) ;
    
}

.vazio {
position: absolute;
    height: 24px;
    max-width: 0;
}

.mostrarVazio {
    max-width: 24px;
}

.animaçaoVibraçao {
    animation-name: vibraçao;
    animation-duration: 0.1s;
    animation-iteration-count: inherit;

}

@keyframes vibraçao {
    25% {
        padding-bottom: 2px;
        padding-left: 1px;
    }

    50% {
        padding-top:2px ;
        padding-right: 1px;
    }

    75% {
        padding-bottom: 2px;
        padding-left: 1px;
    }

    100% {
        padding-top:2px;
        padding-right: 1px;
    }
}


#inputPrincipal {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

#buttonPesquisar {
    background-color: white;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
    margin-left: 5px;
}

#areaInformaçoes {
width: 100vw;
height: 4vh;
border-radius: 0px;
border: 1px solid rgb(184, 184, 184);
}

#textoMovel {
    color: var(--cor-principal) ;
    animation-name: letreiro;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
}

@keyframes letreiro {
    from {
        margin-left: 120%;
    }

    to{
        margin-left: -120%;
    }
}

.sectionResultado {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top:2px solid rgb(202, 202, 202);
    border-bottom:2px solid rgb(202, 202, 202);
}

.ulDados {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

liDados {
    display: flex;
    flex-direction: column;
}

.divInformaçao {
    width: 45vw;
    border: 1px solid  rgb(202, 202, 202);
    padding: 10px 10px 10px 4px;
    background-color: white;
}

#blocosRegionais {
    text-align: center;

}

